#header {
    background-color: $color-white-1;
    box-shadow: 0 2px 4px $color-white-2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .navbar-brand {
        @include styleText($color-blue-2,$fs-3,$fw-3);
    }
    .nav-item{
        .nav-link{
            @include styleText($color-blue-1,$fs-2,$fw-1);
            &:hover{
                color: #b61984;
            }
        }
    }
}

// responsive
// 992px

@include responsive("large"){
    #header{
        .navbar-toggler{
            background-color:$color-dark-1;   
        }
        .navbar-nav{
            text-align: center;
        }
    }
}